### Перше завдання

|        | В1 | В2 | В3 | В4 |
|--------|----|----|----|----|
| **А1** | 1  | 9  | 6  | 0  |
| **А2** | -2 | 3  | 8  | 4  |
| **А3** | -5 | -2 | 10 | -3 |
| **А4** | 7  | 4  | -2 | -5 |

In [10]:
import numpy as np
import pandas as pd
from IPython.display import display, Math

In [11]:
matrix = [
	[1, 9, 6, 0],
	[-2, 3, 8, 4],
	[-5, -2, 10, -3],
	[7, 4, -2, -5]
]

display(pd.DataFrame(matrix, columns=['B1', 'B2', 'B3', 'B4'], index=['A1', 'A2', 'A3', 'A4']))

    B1  B2  B3  B4
A1   1   9   6   0
A2  -2   3   8   4
A3  -5  -2  10  -3
A4   7   4  -2  -5

### Шукаємо нижню ціну гри

In [12]:
minA = np.min(matrix, axis = 1)
maxMinA = np.max(minA)

display(pd.DataFrame(minA, columns=['min A'], index=['A1', 'A2', 'A3', 'A4']))
print('max min A =', maxMinA)

    min A
A1      0
A2     -2
A3     -5
A4     -5

max min A = 0

### Шукаємо верхню ціну гри

In [13]:
maxB = np.max(matrix, axis = 0)
minMaxB = np.min(maxB)

display(pd.DataFrame(maxB, columns=['max B'], index=['B1', 'B2', 'B3', 'B4']))
print('min max B =', minMaxB)

    max B
B1      7
B2      9
B3     10
B4      4

min max B = 4

**Робимо висновок, що рівноваги в чистих стратегіях немає.**

# Друге завдання

In [18]:
A = []
for i in range(0, 4):
	A.append([i, 3 - i])

AIndex = [f"A{i + 1} ({A[i][0]} в 1 та {A[i][1]} в 2)" for i in range(len(A))]

print(A, len(A))

[[0, 3], [1, 2], [2, 1], [3, 0]] 4

In [19]:
p1 = 0.4
p2 = 0.6
matrix2 = []

for i in range(len(A)):
    shipsIn1 = A[i][0]
    shipsIn2 = A[i][1]
    for j in range(i + 1, len(A) - i):
        matrix2.append(
            [
                1 - (1 - p1 * A[i][0]) * (1 - p1 * A[j][0]),
                1 - (1 - p2 * A[i][1]) * (1 - p2 * A[j][1]),
            ]
        )

display(
    pd.DataFrame(
        matrix2,
        columns = ["B1", "B2"],
        index = AIndex,
    )
)

                       B1    B2
A1 (0 в 1 та 3 в 2)  0.40  0.84
A2 (1 в 1 та 2 в 2)  0.80  1.32
A3 (2 в 1 та 1 в 2)  1.20  1.80
A4 (3 в 1 та 0 в 2)  0.88  1.08

### Шукаємо нижню ціну гри

In [20]:
minA2 = np.min(matrix2, axis = 1)
maxMinA2 = np.max(minA2)

display(pd.DataFrame(minA2, columns=["min A"], index = AIndex))
print('max min A =', maxMinA2)

                     min A
A1 (0 в 1 та 3 в 2)   0.40
A2 (1 в 1 та 2 в 2)   0.80
A3 (2 в 1 та 1 в 2)   1.20
A4 (3 в 1 та 0 в 2)   0.88

max min A = 1.2000000000000002

### Шукаємо верхню ціну гри

In [21]:
maxB2 = np.max(matrix2, axis=0)
minMaxB2 = np.min(maxB2)

display(pd.DataFrame(maxB2, columns=['max B'], index=['B1', 'B2']))
print('min max B =', minMaxB2)

    max B
B1    1.2
B2    1.8

min max B = 1.2000000000000002